<!DOCTYPE html>
<html>

<head>
    <title>Web application</title>
</head>

<body>

<h2>I am enjoying zero to hero</h2>

<form id="form1" name="hello" method="post" action="../zerotohero">

    <label for="first">First name:</label>
    <input type="text" id="first" name="first"/>

    <label for="last">Last name:</label>
    <input type="text" id="last" name="last"/>

    <button type="submit">Submit</button>
</form>

<script type="application/javascript" src="js/util.js"></script>
</body>
</html>
